body, html {
    background-repeat: no-repeat;
    background: url('images/background.jpg');
}
.navbar{
  border-radius:0;
}

.navbar-brand{
  font-family: 'Satisfy', cursive;
}

.nav-pills>li>a {
    border-radius: 4px;
    background: #f5f5f5;
}

.form-signin #id_username, .form-signin #id_password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.album-title{
  font-size:18px;
}

.genre{
  font-size:15px;
  font-weight:bold;
}
.error_message{
    text-align: center;
    background-color: #e27d7b;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    margin: 15px;
}

#user-name{
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 40px;
  color:#fff;
  font-weight: bold
}

.panel-signup{
  text-align: center
}

.card-container.card {
    max-width: 400px;
    padding: 40px 40px;
    overflow: hidden;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.page-title{
    text-align: center;
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}
.panel-form{
    max-width: 500px;
    padding: 40px 40px;
    overflow: hidden;
}
.btn.btn-signin,.btn-signup {

    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn.btn-signin:hover,.btn.btn-signin:active,.btn.btn-signin:focus,.btn.btn-signup:hover,.btn.btn-signup:active,.btn.btn-signup:focus {
    background-color: rgb(12, 97, 33);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

@media only screen and (min-width: 1023px){
.thumbnail:hover{transform: scale(1.10);transition: .2s;}
.thumbnail{transition:.2s;margin-top:20px;}
}
